* {
    border:        none;
    border-radius: 0;
    font-family:   'FiraCode Nerd Font';
    font-size:     12px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

/* window {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.00);
}

window#waybar.solo {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.85);
} */


window {
    background: transparent;
}

window > box {
    margin: 0px 0px 0 0px;
    background: rgba(40, 44, 52, 0.6);
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    border-radius: 0;
    color: rgba(170, 178, 191, 1.0);
}

#workspaces {
    margin: 0px 5px 0px 5px;
}

#workspaces button {
    padding:    0 5px;
    color:      rgba(217, 216, 216, 0.4);
    border-radius: 3;
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    border-top: 0px solid rgba(217, 216, 216, 0);
    border-bottom: 2px solid rgba(217, 216, 216, 1);
    border-radius: 0;
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#window {
  border-bottom: 1px solid rgba(67, 70, 75, 1.0);
  padding: 0 15px;
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
    margin:     0px 3px 0px 3px;
    min-width:  25px;
}

#clock {
    margin:     0px 6px 0px 6px;
    min-width:  140px;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
   border-radius: 5;
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
    border-radius: 5;
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}

#custom-gammastep {
  margin-right: 2px;
}

#tray {
  margin-right: 11px;
}
